@charset "UTF-8";

* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", 나눔고딕, "Nanum Gothic", "Noto Sans KR", "Noto Sans CJK KR", arial, 돋움, Dotum, Tahoma, Geneva, sans-serif;
  color: #212529;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 8px;
}

header.header-event {
  z-index: 1;
  position: fixed;
  top: -80px;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 1200px;
  height: 4rem;
}

@media (max-width: 768px) {
  header .wrapper {
    height: 3.5rem;
  }
}

@media (max-width: 1024px) {
  header .wrapper {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  header .wrapper {
    width: 1024px;
  }
}

header .wrapper .brand {
  display: flex;
  align-items: center;
}

header .wrapper .brand .icon {
  text-decoration: none;
}

header .wrapper .brand .icon svg path:first-child {
  fill: #6e5eff;
}

header .wrapper .brand .title {
  font-family: "Ubuntu", sans-serif;
  padding-left: 16px;
  font-weight: bold;
  color: #343b41;
  font-size: 1.3125rem;
  text-decoration: none;
}

@media (max-width: 1200px) {
  header .wrapper .brand .title {
    font-size: 1.125rem;
  }
}

header .wrapper .login {
  transition: all 0.125s ease-in 0s;
  opacity: 1;
}

header .wrapper .login button {
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  outline: none;
  background: #343b41;
}

@media (max-width: 768px) {
  header .wrapper .login button {
    font-size: 0.875rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

header .wrapper .login:hover {
  opacity: 0.7;
}

#main-page {
  margin-top: 5.625rem;
  padding-bottom: 4rem;
}

@media (max-width: 768px) {
  #main-page {
    margin-top: 3rem;
  }
}

#main-page .container {
  width: 768px;
  margin: 0px auto;
}

@media (max-width: 768px) {
  #main-page .container {
    width: 100%;
  }
}

#main-page .container .profile {
  width: inherit;
}

#main-page .container .profile .wrapper {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  #main-page .container .profile .wrapper {
    display: block;
    align-items: unset;
  }
}

#main-page .container .profile .wrapper img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  box-shadow: black 0px 0px 4px 0px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  #main-page .container .profile .wrapper img {
    margin-left: 1rem;
    width: 5rem;
    height: 5rem;
  }
}

#main-page .container .profile .wrapper .name-description {
  margin-left: 1rem;
}

@media (max-width: 768px) {
  #main-page .container .profile .wrapper .name-description {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  #main-page .container .profile .wrapper .name-description h2 {
    font-size: 1.125rem;
  }
}

#main-page .container .profile .wrapper .name-description p {
  white-space: pre-wrap;
  font-size: 1.125rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  color: #485059;
  letter-spacing: -0.02em;
}

@media (max-width: 768px) {
  #main-page .container .profile .wrapper .name-description p {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    letter-spacing: -0.02em;
  }
}

#main-page .container .profile .separator {
  width: 100%;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  background: #e9ecef;
}

@media (max-width: 768px) {
  #main-page .container .profile .separator {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

#main-page .container .profile .sns-icon {
  display: flex;
}

@media (max-width: 768px) {
  #main-page .container .profile .sns-icon {
    margin-left: 1rem;
  }
}

#main-page .container .profile .sns-icon a {
  display: block;
  text-decoration: none;
}

#main-page .container .profile .sns-icon .github-icon svg {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  fill: #b2b9c1;
}

#main-page .container .profile .sns-icon .github-icon svg:hover {
  fill: #343b41;
}

#main-page .container .profile .sns-icon .naver-icon {
  margin-left: 1rem;
}

#main-page .container .profile .sns-icon .naver-icon svg {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  fill: #b2b9c1;
}

#main-page .container .profile .sns-icon .naver-icon svg:hover {
  fill: #343b41;
}

#main-page .container .profile .sns-icon .email-icon {
  margin-left: 1rem;
}

#main-page .container .profile .sns-icon .email-icon svg {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  fill: #b2b9c1;
}

#main-page .container .profile .sns-icon .email-icon svg:hover {
  fill: #343b41;
}

#main-page .container .contents {
  color: red;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  display: flex;
  justify-content: center;
  position: relative;
}

@media (max-width: 768px) {
  #main-page .container .contents {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

#main-page .container .contents .wrapper {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

@media (max-width: 768px) {
  #main-page .container .contents .wrapper {
    width: 100%;
  }
}

#main-page .container .contents .wrapper a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.325rem;
  width: 8rem;
  height: 3rem;
  color: #485059;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  #main-page .container .contents .wrapper a {
    font-size: 1rem;
    height: 2.5rem;
    flex: 1 1 0%;
  }
}

#main-page .container .contents .wrapper .slide {
  width: 8rem;
  height: 2px;
  position: absolute;
  bottom: -2px;
  background: #6e5eff;
}

@media (max-width: 768px) {
  #main-page .container .contents .wrapper .slide {
    width: 25%;
  }
}

@media (max-width: 768px) {
  #main-page .container .post .wrapper {
    padding-right: 16px;
    padding-left: 16px;
  }
}

#main-page .container .post .wrapper a {
  text-decoration: none;
}

#main-page .container .post .wrapper a h2 {
  color: #212529;
  word-break: keep-all;
  margin: 0px;
  display: block;
  font-size: 1.5rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

@media (max-width: 768px) {
  #main-page .container .post .wrapper a h2 {
    font-size: 1rem;
  }
}

#main-page .container .post .wrapper p {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #485059;
  word-break: keep-all;
  overflow-wrap: break-word;
  display: block;
}

@media (max-width: 768px) {
  #main-page .container .post .wrapper p {
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
  }
}

#main-page .container .post .wrapper .tags-wrapper a {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  margin-right: 0.875rem;
  color: #6e5eff;
  font-weight: 500;
  font-size: 1rem;
  background: #f1f3f5;
  border-radius: 1rem;
  text-decoration: none;
}

@media (max-width: 768px) {
  #main-page .container .post .wrapper .tags-wrapper a {
    height: 1.5rem;
    font-size: 0.75rem;
    margin-right: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.625rem;
  }
}

#main-page .container .post .wrapper .subinfo {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  color: #868e96;
  font-size: 0.875rem;
  margin-bottom: 0.83rem;
}

#main-page .container .post .wrapper .subinfo .separator {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#main-page .container .post .wrapper .post-separator {
  width: 100%;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  background: #e9ecef;
}

@media (max-width: 768px) {
  #main-page .container .post .wrapper .post-separator {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}